*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.boxes{
    height: 100vh;
    width: 100%;
}
.container hr{
    width: 10px;
    height: 0;
    width: 50px;
    margin-top: 130px;
}
h4{
    color: gray;
}
.para{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 120px;
    color: gray;
}
.head,.view{
    text-align: center;
    margin-top: 20px;
}
.head h1{
    margin-top: 90px;
    font-size: 3rem;
}
.icon{
    height: 40%;
}
.c1 ,.c2,.c3,.c4{
    margin-top: 40px;
    width:17%;
    height: 250px;
    background-color: white;
    text-align: center;
}
.c1 h1,.c2 h1,.c3 h1,.c4 h1{
       color: green;
       font-size: 3rem;
}
.c1 h2,.c2 h2,.c3 h2,.c4 h2{
      color: grey;

}
.navbar{
    background-image:linear-gradient(black,rgb(163, 160, 160),rgb(236, 221, 221));
    height: 125px;
    width: 100%;
    background-color: gray;
    display: flex;
    position: sticky;
    top:0;
}
.box{
    width: 100%;
}
.navbar img{
    margin-left: 30px;
    height: 100%;
}
.hello{
    width: 100%;
    height: 90vh;
}
.smallnavbar{
    width: 72%;
    float: right;
    height: 40px;
    background-color: white;
    margin-right: 32px;
    color:black;
    display: flex;
}
.nav{
    width: 100%;
    height: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h3{
    margin-right: 15px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9em;
}
.smallnavbar span{
    margin-left: 12px;
    font-size: 0.9em;
}
.help{
    width: 120px;
    display: flex;
    justify-content: center;
    width: 16%;
    align-items: center;
    background-color: green;
    height: 40px;
    color: white;
}
.help2{
    display: flex;
    justify-content: center;
    align-items: center;
}
p:nth-of-type(1){
    margin-left: 3px;
    font-size: 0.7em;
    margin-top: 5px;
}
p:nth-of-type(2){
    margin-left: 3px;
    float: right;
    margin-right: 5px;
    font-size: 1em;
}
.fa-phone{
    color: yellow;
    margin-left: 5px;
    font-size: 1.4em;
}
.fa-magnifying-glass{
    color: white;
    font-size: large;
    margin-left: 10px;
}
.section{
    width: 100%;
    height: 100%;
}
.yellow{
    font-size: smaller;
    width: 120px;
    height: 20px;
    background-color: rgb(211, 185, 70);
    padding-top:10px;
    padding-bottom: 8px;
}
.yellow span{
    font-size: 1.05em;
}
.brown{
    background-color: rgb(58, 27, 27);
    opacity: 0.7;
    height:40px;
    width: 40px;
    margin-left: 10px ;
}
span:hover{
    color: rgb(155, 130, 98);
    cursor: pointer;
}
h3:hover{
    cursor: pointer;
}
/*section 3*/
.part{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.9;
}
.card1{
    margin-left: 40px;
}
.card1,.card2,.card3{
    text-align: center;
    margin-right: 40px;
    height: 80%;
    width: 35%;
    margin-top: 50px;
    padding-left:50px;
    padding-right: 50px;
    color: white;
    font-weight: lighter;
    opacity: 0.9;
}
.card1 h2,.card2 h2,.card3 h2{
    margin-top: 50px;
}
.card1 h3,.card2 h3,.card3 h3{
    margin-top: 20px;
}
hr{
    height: 66%;
    opacity: 0.5;
    margin-top: 50px;
}
.card1 img,.card2 img,.card3 img{
    margin-top: 40px;
}
/*section4*/
.section4{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sec1{
    height: 100%;
    width: 40%;
    background-image: url("lib.jpg");
    background-size: cover;
}
.sec2{
    height: 100%;
    width: 60%;
    background-image: url("lib2.jpg");
    background-size: cover;
}
.course{
    background-color: whitesmoke;
}